<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="IVZPLM-LOG" class="de.ivz.plm.logging.UdpAppender">
        <param name="RemoteAddress" value="plm.host.address"/>
        <param name="RemotePort" value="6379"/>
        <param name="UserFields" value="type:log"/>
    </appender>

    <appender name="IVZPLM-NAGIOS" class="de.ivz.plm.logging.UdpAppender">
        <param name="RemoteAddress" value="plm.host.address"/>
        <param name="RemotePort" value="6379"/>
        <param name="UserFields" value="type:nagios"/>
    </appender>

    <appender name="IVZPLM-SYSTEM" class="de.ivz.plm.logging.UdpAppender">
        <param name="RemoteAddress" value="plm.host.address"/>
        <param name="RemotePort" value="6379"/>
        <param name="UserFields" value="type:system"/>
    </appender>

    <appender name="IVZPLM-JDBC" class="de.ivz.plm.logging.UdpAppender">
        <param name="RemoteAddress" value="plm.host.address"/>
        <param name="RemotePort" value="6379"/>
        <param name="UserFields" value="type:jdbc"/>
    </appender>

    <category name="IVZPLM-NAGIOS" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="IVZPLM-NAGIOS"/>
    </category>

    <category name="IVZPLM-SYSTEM" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="IVZPLM-SYSTEM"/>
    </category>

    <category name="IVZPLM-JDBC" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="IVZPLM-JDBC"/>
    </category>

    <root>
        <priority value ="INFO"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="IVZPLM-LOG"/>
    </root>

</log4j:configuration>